body {
    padding-bottom: 2em;
    position: relative;
    overflow-x: hidden;
}

.main-header {
    padding: 1em 0;
    margin-bottom: 6em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

}

.logo {
    color: var(--purple);
    font-size: 1.2rem;
    text-transform: uppercase;
}

.main-header a {
    margin-left: auto;
}

.all-developers-holder, .hired-developers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hired-developers {
    display: none;
}

.hired-developers.flex {
    transform: translateX(200%);
}

.dev-card {
    position: relative;
    width: 43%;
    margin-bottom: 8em;
    padding: .5em .8em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 8px;
    text-align: center;
    font-weight: normal;
}

.dev-card img {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    width: 150px;
    height: 150px;
    border: var(--dark-purple) 4px solid;
    border-radius: 50%;
    object-fit: cover;
}

.dev-card h2 {
   margin-top: 4em;
   text-transform: capitalize;
}

.info-icons {
    font-weight: normal;
    margin-top: 0.5em;
}

.info-icons i{
    color: var(--dark-purple);
}

.dev-related-info {
    margin-top: 0.8em;
    margin-bottom: 1em;
    text-align: left;
}

.dev-related-info p {
    margin-bottom: 0.5em;
    color: var(--dark-purple);
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9rem;
}

.dev-related-info p > span,a {
    text-transform: capitalize;
    font-weight: normal;
    
}

.dev-card a {
    display: inline-block;
    margin-right: 2em;
}

.fas.fa-times.delete {
    display: block;
    position: absolute;
    top: 4%;
    left: 2%;
    font-size: 1.8rem;
    color: var(--gray);
    opacity: 0;
    transition: all .3s ease-in;
    cursor: pointer;
}

.dev-card:hover .fas.fa-times.delete {
    animation: slideUp .5s ease-in-out forwards;
}

.fas.fa-times.delete:hover {
    color: var(--dark-purple);
    transition: all .3s ease-in;
}

.modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(50, 50, 93, 0.5);
}

.cofirmation-content img {
    width: 35%;
}

.cofirmation-content h2 {
    margin-bottom: 0.5em;
}

.cofirmation-content p {
    margin-bottom: 1em;
}

.cofirmation-content a {
    padding: 0.3em 0.6em;
    font-size: 1.2rem;
    margin: 0 1rem;
    border-radius: 3px;
    cursor: pointer;
}

.cancel-removal {
    background-color: var(--gray);
    color: var(--white);
}

.delete-developer-button {
    background-color: var(--red);
    color: var(--white);
}

.control-buttons-holder {
    margin-bottom: 5em;
}

.control-buttons-holder p a {
    margin: 0 1em;
    text-transform: uppercase;
    color: var(--purple);
    cursor: pointer;
}

.control-buttons-holder p a[type="active"] {
    color: var(--dark-purple);
    border-bottom: var(--dark-purple) 1px solid;
}

#hire-tema-button {
    margin-right: auto;
}

#hire-developer-modal.modal {
    display: none;
}

.modal-content,.hired-dev-content,.cofirmation-content {
    padding: 1em 1.5em;
    width: fit-content;
    margin: 7em auto;
    background-color: var(--white);
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.modal-content,.hired-dev-content img {
    margin-bottom: 1em;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: var(--dark-purple) 3px solid;
}

.dev-name {
    color: var(--dark-purple);
}

.modal-content h2 {
    margin-bottom: 1em;
    font-size: 1.8rem;
}

.modal-content form label {
    display: block;
    margin: 1em 0;
}

.modal-content form a {
    margin: 0 1em;
}

.error-message {
    color: var(--red);
}

.hired-dev-content h2 {
    margin-bottom: 1em;
}

.button-green.add-dev-to-team {
    display: none;
}

.developer-team-container {
    position: absolute;
    top: 0;
    left: -100%;
    padding: 2em 3em;
    width: 32%;
    height: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255,0.9);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: 0.5s all ease-in;
}



.dev-team {
    margin-bottom: 2em;
}

.dev-team .dev-card {
    width: 100%;
    margin-top: 6em;
}

.close-modal {
    color: var(--red);
    margin: 0 1em;
    cursor: pointer;
}

.developer-team-container > p {
    margin-bottom: .5em;
}

.developer-team-container form {
    padding: 1em 1.5em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 5px;
    margin-bottom: 1em;
}

.message {
    color: var(--red);
}


@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

