body {
    position: relative;
    overflow-x: hidden;
}

.main-header {
    padding: 1em 0;
    margin-bottom: 8em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

}

.logo {
    color: var(--purple);
    font-size: 1.2rem;
    text-transform: uppercase;
}

.main-header a {
    margin-left: auto;
}

.dev-card {
    position: relative;
    width: 43%;
    margin-bottom: 8em;
    padding: .5em .8em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 8px;
    text-align: center;
    font-weight: normal;
}

.dev-card img {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    width: 150px;
    height: 150px;
    border: var(--dark-purple) 4px solid;
    border-radius: 50%;
    object-fit: cover;
}

.dev-card h2 {
   margin-top: 4em;
   text-transform: capitalize;
}

.info-icons {
    font-weight: normal;
    margin-top: 0.5em;
}

.info-icons i{
    color: var(--dark-purple);
}

.dev-related-info {
    margin-top: 0.8em;
    margin-bottom: 1em;
    text-align: left;
}

.dev-related-info p {
    margin-bottom: 0.5em;
    color: var(--dark-purple);
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9rem;
}

.dev-related-info p > span,a {
    text-transform: capitalize;
    font-weight: normal;
    
}

.dev-card a {
    display: inline-block;
    margin-right: 2em;
}

.fas.fa-times.delete {
    display: block;
    position: absolute;
    top: 4%;
    left: 2%;
    font-size: 1.8rem;
    color: var(--gray);
    opacity: 0;
    transition: all .3s ease-in;
    cursor: pointer;
}

.dev-card:hover .fas.fa-times.delete {
    animation: slideUp .5s ease-in-out forwards;
}

.fas.fa-times.delete:hover {
    color: var(--dark-purple);
    transition: all .3s ease-in;
}

.confirmation-modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(50, 50, 93, 0.5);
}

.cofirmation-content {
    margin: 3em auto 0 auto;
    padding: 1.4em 1em;
    width: fit-content;
    background-color: var(--white);
    text-align: center;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cofirmation-content img {
    width: 35%;
}

.cofirmation-content h2 {
    margin-bottom: 0.5em;
}

.cofirmation-content p {
    margin-bottom: 1em;
}

.cofirmation-content a {
    padding: 0.3em 0.6em;
    font-size: 1.2rem;
    margin: 0 1rem;
    border-radius: 3px;
    cursor: pointer;
}

.cancel-removal {
    background-color: var(--gray);
    color: var(--white);
}

.delete-developer-button {
    background-color: var(--red);
    color: var(--white);
}



@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

