/*Reseting browser's default settings and giving base elements basic styling*/

:root {
    --black : rgb(58, 57, 57);
    --white : rgb(245, 245, 245);
    --green : rgb(70, 161, 70);
    --red : rgb(214, 78, 78);
    --dark-purple : #9656a1;
    --purple : rgb(231, 141, 179);
    --gray : rgb(136, 134, 134) ;
}


* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--black);
}

a {
    text-decoration: none;
}

/*Setting basic styles for buttons*/

.button-dark,.button-light,.button-green {
    display: inline-block;
    padding: .7em 1.8em;
    border-radius: 25px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: .3s all ease-in;
}

.button-dark {
    background-color: var(--dark-purple);
    color: var(--white);
    border: var(--dark-purple) 1px solid;
}

.button-light {
    background-color: var(--purple);
    color: var(--white);
    border: var(--purple) 1px solid;
}

.button-green {
    background-color: var(--green);
    color: var(--white);
    border: var(--green) 1px solid;
}

.button-green:hover {
    background-color: transparent;
    border: var(--green) 1px solid;
    color: var(--green);
    font-weight: bold;
    transition: .3s all ease-in;
}

.button-dark:hover {
    background-color: transparent;
    border: var(--dark-purple) 1px solid;
    color: var(--dark-purple);
    font-weight: bold;
    transition: .3s all ease-in;
}

.button-light:hover {
    background-color: transparent;
    border: var(--purple) 1px solid;
    color: var(--purple);
    font-weight: bold;
    transition: .3s all ease-in;
}

/*Adding basic classes to center and layout items*/

.center {
    width: 80%;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}